src/Models/Facility/SinkFacility/SinkFacility.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="SinkFacility">
     <element name="SinkFacility"> 
       <element name ="input">
	 <element name = "commodities">
	   <ref name="incommodity"/>
	 </element>
	 <ref name="input_capacity"/>
	 <optional>
	   <ref name="inventorysize"/>
	 </optional>
       </element>
     </element>
  </define>


</grammar>
